/*Producto individual*/

section.contenedor__producto__individual{
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
}

div.contenedor__producto__todo{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

div.contenedor__producto__ind__img{
    width: 40vw;
    margin: 10px;
    display: flex;
    justify-content: center;
}

div.contenedor__producto__ind__img img{
    width: 60%;
}

div.contenedor__producto__ind__info{
    width: 40vw;
    margin: 10px;
}

h3.producto__ind__precio{
    font-size: 15px;
    margin: 5px 0;
}

p.producto__ind__descripcion{
    font-size: 15px;
}

@media (max-width:830px){

    h1.producto__ind__titulo{
        font-size: 15px;
    }

    h3.producto__ind__precio{
        font-size: 12px;
        margin: 5px 0;
    }
    
    p.producto__ind__descripcion{
        font-size: 12px;
    }

    div.contenedor__producto__todo{
        margin-bottom: 10px;
    }
}

@media (max-width:530px){
    div.contenedor__producto__todo{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }

    div.contenedor__producto__ind__img{
        width: 70vw;
    }
    
    div.contenedor__producto__ind__img img{
        width: 80%;
    }
    
    div.contenedor__producto__ind__info{
        width: 70vw;
    }
}