/*Productos*/

div.agregar__producto{
    width: 150px;
    height: 40px;
    background-color: #610C9F;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

div.agregar__producto:hover{
    background-color: #370859;
}

a.btn-agregar-producto{
    color: white;
    font-size: 15px;
}



h4.contenedor__contacto__form__titulo{
    margin-bottom: 5px;
}

form.formulario__contacto label{
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: gray;
    font-size: 11px;
    padding-top: 6px;
    padding-left: 10px;
}

form.formulario__contacto input{
    width: 30vw;
    height: 30px;
    outline: none;
    border: 1px solid white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
    font-family: 'Heebo', sans-serif;
    font-family: 'Raleway', sans-serif;
}

form.formulario__contacto input:focus{
    border-bottom: 1px solid #610C9F;
}

form.formulario__contacto textarea{
    width: 30vw;
    height: 60px;
    outline: none;
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-top: 6px;
    padding-left: 10px;
    color: gray;
    font-family: 'Heebo', sans-serif;
    font-family: 'Raleway', sans-serif;
}

form.formulario__contacto textarea:focus{
    border-bottom: 1px solid #610C9F;
}

button.btn-form{
    margin: 5px 0;
    width: 7rem;
    height: 2.2rem;
    border: 1px solid #610C9F;
    background-color: #610C9F;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Heebo', sans-serif;
    font-family: 'Raleway', sans-serif;
}

button.btn-form:hover{
    background-color: #370859;
    border: 1px solid #370859;
}