/*Productos*/

div.agregar__producto{
    width: 150px;
    height: 40px;
    background-color: #610C9F;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

div.agregar__producto:hover{
    background-color: #370859;
}

a.btn-agregar-producto{
    color: white;
    font-size: 15px;
}