*{
    margin: 0;
}

body {
    font-family: 'Heebo', sans-serif;
    font-family: 'Raleway', sans-serif;
}

a{
    text-decoration: none;
}

/*Barra de navegación*/

nav.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
}

div.barra__navegacion{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

div.barra__navegacion img{
    width: 8rem;
    margin: 0 10px;
}

div.barra__navegacion input{
    margin: 0 10px;
    width: 16rem;
    height: 1.7rem;
    border-radius: 15px;
    border: 1px solid rgb(240, 240, 240);
    background-color: rgb(240, 240, 240);
    padding-left: 0.7rem;
    outline: none;
}

div.barra__navegacion input:focus{
    border: 1px solid #610C9F;
}

div.btn__navegacion button{
    width: 140px;
    height: 40px;
    border: 1px solid #610C9F;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}

button.btn-login{
    color: #610C9F;
}

div.btn__navegacion button:hover{
    background-color: #E5D4FF;
    border: 1px solid #E5D4FF;

}

/*Header principal*/

header.banner_promocional {
    position: relative;
}

div.img_banner img{
    width: 100%;
    object-fit: cover;
}

div.info_banner {
    position: absolute;
    top: 62%;
    right: 55%;
    transform: translate(15%, -50%);
    color: white;
}

div.info_banner h1, h2{
    text-shadow: 1px 2px 5px black;
    margin: 5px 0;
}

h1.titulo_banner{
    font-size: 2.5rem;
}

h2.subtitulo_banner{
    font-weight: 400;
    font-size: 1rem;
}

button.btn-banner{
    margin: 5px 0;
    width: 7rem;
    height: 2.2rem;
    border: 1px solid #610C9F;
    background-color: #610C9F;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button.btn-banner:hover{
    background-color: #370859;
    border: 1px solid #370859;
}

/*Tablet*/
@media (max-width:830px){

    h1.titulo_banner{
        font-size: 1rem;
    }
    
    h2.subtitulo_banner{
        font-weight: 400;
        font-size: 0.7rem;
    }
}