*{
    margin: 0;
}

body {
    font-family: 'Heebo', sans-serif;
    font-family: 'Raleway', sans-serif;
}

a{
    text-decoration: none;
}

ul{
    padding-left: 0;
}

li{
    list-style: none;
}

/*Barra de navegación*/

nav.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
}

div.barra__navegacion{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

div.barra__navegacion img{
    width: 8rem;
    margin: 0 10px;
}

div.barra__navegacion input{
    margin: 0 10px;
    width: 16rem;
    height: 1.7rem;
    border-radius: 15px;
    border: 1px solid rgb(240, 240, 240);
    background-color: rgb(240, 240, 240);
    padding-left: 0.7rem;
    outline: none;
    font-family: 'Heebo', sans-serif;
    font-family: 'Raleway', sans-serif;
}

div.barra__navegacion input:focus{
    border: 1px solid #610C9F;
}

div.btn__navegacion button{
    width: 140px;
    height: 40px;
    border: 1px solid #610C9F;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}

button.btn-login{
    color: #610C9F;
    font-family: 'Heebo', sans-serif;
    font-family: 'Raleway', sans-serif;
}

div.btn__navegacion button:hover{
    background-color: #E5D4FF;
    border: 1px solid #E5D4FF;

}

/*Header principal*/

header.banner_promocional {
    position: relative;
}

div.img_banner img{
    width: 100%;
    object-fit: cover;
}

div.info_banner {
    position: absolute;
    top: 62%;
    right: 55%;
    transform: translate(15%, -50%);
    color: white;
}

div.info_banner h1, h2{
    text-shadow: 1px 2px 5px black;
    margin: 5px 0;
}

h1.titulo_banner{
    font-size: 2.5rem;
}

h2.subtitulo_banner{
    font-weight: 400;
    font-size: 1rem;
}

button.btn-banner{
    margin: 5px 0;
    width: 7rem;
    height: 2.2rem;
    border: 1px solid #610C9F;
    background-color: #610C9F;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Heebo', sans-serif;
    font-family: 'Raleway', sans-serif;
}

button.btn-banner:hover{
    background-color: #370859;
    border: 1px solid #370859;
}

/*Sección productos*/

section.contenedor__productos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 40px 0;
}

div.categoria__principal{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

div.categoria__principal__info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

div.categoria__principal__navegacion a{
    font-weight: 600;
    color: #370859;
}

div.categoria__principal__navegacion img{
    width: 15px;
}

div.categoria__principal__productos{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

div.categoria__secundaria{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

div.categoria__secundaria__info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

div.categoria__secundaria__navegacion a{
    font-weight: 600;
    color: #370859;
}

div.categoria__secundaria__navegacion img{
    width: 15px;
}

div.categoria__secundaria__productos{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

div.categoria__terciaria{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

div.categoria__terciaria__info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

div.categoria__terciaria__navegacion a{
    font-weight: 600;
    color: #370859;
}

div.categoria__terciaria__navegacion img{
    width: 15px;
}

div.categoria__terciaria__productos{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

article.producto__individual{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 5px 10px;
}

article.producto__individual img{
    width: 180px;
}

p.nombre__producto{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 0.9rem;
}

p.precio__producto{
    font-weight: 600;
    margin-bottom: 5px;
}

article.producto__individual a{
    font-weight: 600;
    color: #370859;
}

/*Sección contacto e info*/

section.contenedor__contacto{
    background-color: #E5D4FF;
}

div.contenedor__contacto__todo{
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
}

div.contenedor__contacto__img img{
    width: 8rem;
    margin: 0 10px;
}

div.contenedor__contacto__nav{
    display: flex;
    align-items: center;
}

ul.contenedor__contacto__lista{
    display: flex;
    flex-direction: column;
}

li.contenedor__contacto__item{
    margin-bottom: 15px;
    font-size: 0.9rem;
}

li.contenedor__contacto__item a{
    color: black;
}

div.contenedor__contacto__form{
    display: flex;
    flex-direction: column;
}

form.formulario__contacto{
    display: flex;
    flex-direction: column;
}

h4.contenedor__contacto__form__titulo{
    margin-bottom: 5px;
}

form.formulario__contacto label{
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: gray;
    font-size: 11px;
    padding-top: 6px;
    padding-left: 10px;
}

form.formulario__contacto input{
    width: 30vw;
    height: 30px;
    outline: none;
    border: 1px solid white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
    font-family: 'Heebo', sans-serif;
    font-family: 'Raleway', sans-serif;
}

form.formulario__contacto input:focus{
    border-bottom: 1px solid #610C9F;
}

form.formulario__contacto textarea{
    width: 30vw;
    height: 60px;
    outline: none;
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-top: 6px;
    padding-left: 10px;
    color: gray;
    font-family: 'Heebo', sans-serif;
    font-family: 'Raleway', sans-serif;
}

form.formulario__contacto textarea:focus{
    border-bottom: 1px solid #610C9F;
}

button.btn-form{
    margin: 5px 0;
    width: 7rem;
    height: 2.2rem;
    border: 1px solid #610C9F;
    background-color: #610C9F;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Heebo', sans-serif;
    font-family: 'Raleway', sans-serif;
}

button.btn-form:hover{
    background-color: #370859;
    border: 1px solid #370859;
}

/*Pie de página*/
section.contenedor__footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

footer.footer__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*Tablet*/
@media (max-width:830px){

    /*Banner*/

    h1.titulo_banner{
        font-size: 1rem;
    }
    
    h2.subtitulo_banner{
        font-weight: 400;
        font-size: 0.7rem;
    }
}

/*Móvil*/

@media(max-width:530px){

    /*Barra de navegación*/

    div.barra__navegacion input{
        display: none;
    }

    /*Banner*/

    div.info_banner {
        top: 50%;
    }

    button.btn-banner{
        width: 6rem;
        height: 2.1rem;
        font-size: 12px;
    }
    /*Productos*/

    section.contenedor__productos{
        justify-content: center;
        margin: 40px 20px;
    }

    div.categoria__principal__productos{
        justify-content: center;
    }

    div.categoria__secundaria__productos{
        justify-content: center;
    }

    div.categoria__terciaria__productos{
        justify-content: center;
    }

    /*Sección contacto e info*/

    div.contenedor__contacto__todo{
        flex-direction: column;
        align-items: center;
    }

    ul.contenedor__contacto__lista{
        align-items: center;
    }

    div.contenedor__contacto__img img {
        width: 10rem;
        margin: 0px 0px 10px 0px;
    }

    form.formulario__contacto input{
        width: 60vw;
    }

    form.formulario__contacto textarea{
        width: 60vw;
    }

    h4.contenedor__contacto__form__titulo{
        margin-top: 5px;
    }

}